.no-intents {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  z-index: 1;
}

.header__title {
  margin-left: 64px;
  width: 730px;
  z-index: 3;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
  width: 388px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 608px;
  width: 765px;
  z-index: 2;
}

.description {
  padding-top: 100px;
}

.two-columns {
  margin: auto;
  justify-content: space-between;
  width: 80%;
  display: flex;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 100px 0;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  text-align: center;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  color: white;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  z-index: 3;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  background-color: #f2f2f2;
  position: relative;
  min-height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  z-index: 2;
}

.feynman__title {
  width: 648px;
  margin-top: 100px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 3;
}

.feynman__subtitle {
  margin-top: 70px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 3;
}

.feynman__link {
  position: absolute;
  text-decoration: none;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.kaufman {
  padding: 90px 0 90px 0;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.kaufman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  height: 877px;
  width: 877px;
  right: -210px;
  top: 0;

  /* border: red;
  border-width: 2px;
  border-style: dotted; */
}

.footer {
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: auto;
  height: 250px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px 0;
}

.footer__link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__link_type_social {
  color: grey;
}

.footer__social_icon {
  height: 16px;
  width: 16px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 228px;
  height: 32px;
  z-index: 3;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}