.photo-card__like-button {
  width: 22px;
  height: 19px;
  background-image: url("../../../images/photo-card__like-button.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  object-fit: contain;
  border: none;
  padding: 0;
  flex-shrink: 0;
}
