.header {
  display: grid;
  grid-auto-flow: column;
  padding: 28px 48px 56px 48px;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 450px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
  }
}