.lead {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: calc(100vw - 148px * 2);
}

@media screen and (max-width: 1024px) {
  .lead {
    width: calc(100vw - 48px * 2);
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
  }
}